# Create a (3,3) square with a nested loop

In [1]:
for i in range(3):
    s = ''
    for k in range(3):
        s += '* '
    print(s)

* * *
* * *
* * *

# Import NumPy

In [7]:
%pip install numpy
import numpy as np
np.__version__

Requirement already satisfied: numpy in c:\users\david\appdata\local\programs\python\python311\lib\site-packages (1.23.5)
Note: you may need to restart the kernel to use updated packages.

'1.23.5'

# Create an array with random integers between 0 and 10 with a size of 15

In [8]:
np.random.randint(0, 10, 15)

array([0, 7, 4, 1, 8, 1, 1, 9, 1, 8, 4, 8, 3, 6, 5])

# Create a (5,5) array with random floats

In [9]:
np.random.random((5,5))

array([[0.24292786, 0.49703047, 0.08931463, 0.32134481, 0.17912948],
       [0.37586849, 0.26713978, 0.80766209, 0.22528238, 0.39023395],
       [0.05719325, 0.2736017 , 0.35322271, 0.57525492, 0.52223237],
       [0.35000719, 0.98385224, 0.58510787, 0.07077754, 0.10533004],
       [0.36719688, 0.12109803, 0.13606974, 0.97163807, 0.94785717]])

# Find the length of this string

In [12]:
a = 'Hello, World'

In [13]:
len(a)

12

# Take the variable 'a' and print only 'World', using subscripts

In [20]:
a[7:12]

'World'

# Change the string to lower case using python functions

In [23]:
print(a.lower())

hello, world

# Change the string to upper case using python functions

In [24]:
print(a.upper())

HELLO, WORLD

# Split the string using the split() function

In [29]:
print(a.split(','))

['Hello', ' World']

100

# Import Pandas

In [1]:
%pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\david\appdata\local\programs\python\python311\lib\site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\david\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\david\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in c:\users\david\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\david\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# Read 'AllCountries.csv' file. Call it 'ac'

In [2]:
ac = pd.read_csv('AllCountries.csv')

# Check to columns of ac

In [3]:
ac.columns

Index(['Country', 'LandArea', 'Population', 'Density', 'GDP', 'Rural', 'CO2',
       'PumpPrice', 'Military', 'Health', 'ArmedForces', 'Internet', 'Cell',
       'HIV', 'Hunger', 'Diabetes', 'BirthRate', 'DeathRate', 'ElderlyPop',
       'LifeExpectancy', 'FemaleLabor', 'Unemployment', 'EnergyUse',
       'Electricity', 'Developed'],
      dtype='object')

# Check the first 10 rows of ac

In [4]:
ac.head(10)

,Country,LandArea,Population,Density,GDP,Rural,CO2,PumpPrice,Military,Health,...,Diabetes,BirthRate,DeathRate,ElderlyPop,LifeExpectancy,FemaleLabor,Unemployment,EnergyUse,Electricity,Developed
0,Afghanistan,652.86,30.552,46.8,665.0,74.1,35.3,1.28,8.65,7.07,...,8.1,34.1,7.8,2.3,60.9,16.2,NaN,NaN,NaN,NaN
1,Albania,27.40,2.897,105.7,4460.0,44.6,12.8,1.81,NaN,9.85,...,2.6,12.9,6.9,10.7,77.5,51.7,13.4,748.0,2195.0,1.0
2,Algeria,2381.74,39.208,16.5,5361.0,30.5,24.6,0.29,NaN,9.43,...,7.3,24.3,5.9,4.6,71.0,16.2,11.0,1108.0,1091.0,1.0
3,American Samoa,0.20,0.055,275.0,NaN,12.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,0.47,0.079,168.1,NaN,13.8,9.5,1.67,NaN,23.14,...,5.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Angola,1246.70,21.472,17.2,5783.0,57.5,44.8,0.63,13.81,7.74,...,2.6,44.1,13.9,2.4,51.9,64.5,NaN,673.0,248.0,1.0
6,Antigua and Barbuda,0.44,0.090,204.5,13342.0,75.4,16.6,NaN,NaN,14.67,...,13.1,16.5,6.1,7.1,75.8,NaN,NaN,NaN,NaN,NaN
7,Argentina,2736.69,41.446,15.1,14715.0,8.5,16.9,1.46,NaN,31.76,...,5.7,16.8,7.7,10.9,76.2,55.1,7.2,1967.0,2967.0,2.0
8,Armenia,28.47,2.977,104.6,3505.0,37.0,13.9,1.25,16.78,7.85,...,2.6,13.7,8.7,10.3,74.5,58.4,NaN,916.0,1755.0,1.0
9,Aruba,0.18,0.103,572.2,NaN,57.9,10.4,NaN,NaN,NaN,...,13.0,10.3,8.4,11.3,75.3,NaN,NaN,NaN,NaN,NaN

# Get some basic info on ac

In [5]:
ac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         215 non-null    object
 1   LandArea        215 non-null    float64
 2   Population      215 non-null    float64
 3   Density         215 non-null    float64
 4   GDP             186 non-null    float64
 5   Rural           215 non-null    float64
 6   CO2             205 non-null    float64
 7   PumpPrice       166 non-null    float64
 8   Military        95 non-null     float64
 9   Health          187 non-null    float64
 10  ArmedForces     168 non-null    float64
 11  Internet        203 non-null    float64
 12  Cell            203 non-null    float64
 13  HIV             117 non-null    float64
 14  Hunger          115 non-null    float64
 15  Diabetes        208 non-null    float64
 16  BirthRate       202 non-null    float64
 17  DeathRate       203 non-null    float64
 18  ElderlyPop      195 non-null    float64
 19  LifeExpectancy  199 non-null    float64
 20  FemaleLabor     186 non-null    float64
 21  Unemployment    108 non-null    float64
 22  EnergyUse       136 non-null    float64
 23  Electricity     134 non-null    float64
 24  Developed       134 non-null    float64
dtypes: float64(24), object(1)
memory usage: 42.5+ KB

# Get some sttatistical info on ac

In [6]:
ac.describe()

,LandArea,Population,Density,GDP,Rural,CO2,PumpPrice,Military,Health,ArmedForces,...,Diabetes,BirthRate,DeathRate,ElderlyPop,LifeExpectancy,FemaleLabor,Unemployment,EnergyUse,Electricity,Developed
count,215.000000,215.000000,215.000000,186.000000,215.000000,205.000000,166.000000,95.000000,187.000000,168.000000,...,208.000000,202.000000,203.000000,195.000000,199.000000,186.000000,108.000000,136.000000,134.000000,134.000000
mean,604.660335,33.042014,408.243721,14333.672043,41.228372,21.402927,1.389036,7.272105,11.965829,160.116786,...,8.723558,21.250990,8.072906,7.976923,70.841709,58.076882,9.687963,2580.044118,4293.753731,1.813433
std,1759.001021,130.424120,1943.951398,20501.708730,24.478096,10.565482,0.526717,6.332913,5.042639,380.118097,...,5.488184,10.513622,3.133041,5.512164,9.096521,17.079121,6.681859,3058.564485,5910.239849,0.877179
min,0.002000,0.010000,0.100000,226.000000,0.000000,8.200000,0.020000,0.000000,1.500000,0.120000,...,1.500000,7.900000,1.000000,0.400000,45.600000,14.300000,0.200000,129.000000,32.000000,1.000000
25%,10.858500,0.836500,34.900000,1846.500000,21.550000,12.200000,1.112500,3.305000,8.135000,10.925000,...,5.375000,12.225000,5.950000,3.400000,65.300000,49.725000,5.175000,694.000000,845.750000,1.000000
50%,94.280000,6.202000,83.500000,5736.000000,41.600000,19.200000,1.410000,5.310000,11.870000,30.700000,...,7.200000,19.350000,7.500000,5.500000,73.800000,60.350000,7.800000,1511.500000,2644.000000,2.000000
75%,440.310000,21.863000,204.750000,16072.500000,61.200000,27.700000,1.767500,9.375000,14.710000,152.912500,...,10.550000,27.500000,9.700000,12.300000,77.250000,70.175000,13.400000,3137.250000,5735.500000,3.000000
max,16376.870000,1357.380000,19000.000000,110665.000000,91.300000,49.800000,2.540000,44.300000,31.760000,2993.000000,...,37.100000,49.700000,17.200000,25.100000,83.800000,89.900000,31.000000,17964.000000,52374.000000,3.000000

# Get the average GDP

In [7]:
ac['GDP'].mean()

14333.672043010753

# Group (groupby) countries with GDP and populations with the sum() function

In [9]:
groupAC = ac.groupby('Country')[['GDP', 'Population']].sum()
groupAC

                          GDP  Population
Country
Afghanistan             665.0      30.552
Albania                4460.0       2.897
Algeria                5361.0      39.208
American Samoa            0.0       0.055
Andorra                   0.0       0.079
...                       ...         ...
Virgin Islands (U.S.)     0.0       0.105
West Bank and Gaza        0.0       4.170
Yemen, Rep.            1473.0      24.407
Zambia                 1845.0      14.539
Zimbabwe                953.0      14.150

[215 rows x 2 columns]